/out
/gettingstartedjunit5.iml
/.idea
/test/patientintake/*.class
/src/patientintake/*.class


.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath


.DS_Store
